n8n/workflows/dashboard.json
{
  "name": "Dashboard",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "return [{json: {html: \"<!DOCTYPE html>\\n<html><head><meta charset=\\\"utf-8\\\"><title>Agent Command Center</title>\\n<style>\\n*{box-sizing:border-box;margin:0;padding:0}\\nbody{background:#0a0a15;color:#d0d0e0;font-family:-apple-system,system-ui,sans-serif}\\n.app{display:grid;grid-template-columns:1fr 380px;grid-template-rows:auto 1fr auto;height:100vh;gap:0}\\n.top-bar{grid-column:1/-1;padding:12px 20px;background:#0f0f1a;border-bottom:1px solid #1a1a30;display:flex;justify-content:space-between;align-items:center}\\n.top-bar h1{font-size:1.3em;color:#fff}\\n.top-bar .meta{color:#555;font-size:.8em}\\n.office-panel{padding:10px;overflow:hidden;border-right:1px solid #1a1a30;display:flex;flex-direction:column;gap:10px}\\n.office-panel canvas{border-radius:8px;background:#1a1a2e;width:100%;cursor:default}\\n.stats{display:flex;gap:8px;flex-wrap:wrap}\\n.stat{background:#12122a;border:1px solid #1e1e3a;padding:6px 12px;border-radius:6px;text-align:center;flex:1;min-width:60px}\\n.stat-n{font-size:1.4em;font-weight:700;line-height:1.2}\\n.stat-l{color:#555;font-size:.7em}\\n.project-grid{display:flex;flex-wrap:wrap;gap:6px;overflow-y:auto;max-height:200px;padding:2px}\\n.project-card{background:#12122a;border:1px solid #1e1e3a;padding:6px 10px;border-radius:6px;font-size:.75em;cursor:pointer;transition:border-color .2s;min-width:100px}\\n.project-card:hover{border-color:#3a3a6a}\\n.project-card .name{font-weight:600;color:#fff}\\n.project-card .meta{color:#555;margin-top:2px}\\n.chat-panel{display:flex;flex-direction:column;background:#0d0d1a;border-left:1px solid #1a1a30}\\n.chat-header{padding:10px 15px;border-bottom:1px solid #1a1a30;display:flex;align-items:center;gap:8px}\\n.chat-header select{background:#12122a;color:#d0d0e0;border:1px solid #2a2a4a;padding:4px 8px;border-radius:4px;font-size:.85em;flex:1}\\n.chat-messages{flex:1;overflow-y:auto;padding:10px 15px;display:flex;flex-direction:column;gap:8px}\\n.msg{max-width:85%;padding:8px 12px;border-radius:10px;font-size:.85em;line-height:1.4;word-wrap:break-word}\\n.msg.user{align-self:flex-end;background:#1e3a5f;color:#d0e0ff;border-bottom-right-radius:2px}\\n.msg.bot{align-self:flex-start;background:#1a1a30;color:#c0c0d0;border-bottom-left-radius:2px}\\n.msg.bot pre{white-space:pre-wrap;font-size:.8em;margin-top:4px;color:#8899aa}\\n.chat-input{display:flex;gap:6px;padding:10px 15px;border-top:1px solid #1a1a30}\\n.chat-input input{flex:1;background:#12122a;color:#d0d0e0;border:1px solid #2a2a4a;padding:8px 12px;border-radius:6px;font-size:.85em;outline:none}\\n.chat-input input:focus{border-color:#3a5a8a}\\n.chat-input button{background:#1e3a5f;color:#d0e0ff;border:none;padding:8px 16px;border-radius:6px;cursor:pointer;font-size:.85em}\\n.chat-input button:hover{background:#2a4a7f}\\n.chat-input button:disabled{opacity:.5;cursor:wait}\\n.feed-panel{grid-column:1/-1;border-top:1px solid #1a1a30;padding:8px 15px;max-height:150px;overflow-y:auto;font-size:.75em;color:#666}\\n.feed-panel .entry{padding:3px 0;border-bottom:1px solid #111}\\n.feed-panel .time{color:#444;margin-right:8px}\\n.feed-panel .type{color:#3a6a9a;margin-right:6px}\\n</style></head>\\n<body>\\n<div class=\\\"app\\\">\\n  <div class=\\\"top-bar\\\">\\n    <h1>Agent Command Center</h1>\\n    <span class=\\\"meta\\\" id=\\\"timestamp\\\">loading...</span>\\n  </div>\\n\\n  <div class=\\\"office-panel\\\">\\n    <canvas id=\\\"office\\\"></canvas>\\n    <div class=\\\"stats\\\" id=\\\"stats\\\"></div>\\n    <div class=\\\"project-grid\\\" id=\\\"projects\\\"></div>\\n  </div>\\n\\n  <div class=\\\"chat-panel\\\">\\n    <div class=\\\"chat-header\\\">\\n      <span>Chat:</span>\\n      <select id=\\\"chat-project\\\"><option value=\\\"\\\">PA Orchestrator</option></select>\\n    </div>\\n    <div class=\\\"chat-messages\\\" id=\\\"messages\\\"></div>\\n    <div class=\\\"chat-input\\\">\\n      <input id=\\\"chat-input\\\" placeholder=\\\"Type a task...\\\" onkeydown=\\\"if(event.key==='Enter')sendChat()\\\">\\n      <button id=\\\"chat-send\\\" onclick=\\\"sendChat()\\\">Send</button>\\n    </div>\\n  </div>\\n\\n  <div class=\\\"feed-panel\\\" id=\\\"feed\\\">Activity feed loading...</div>\\n</div>\\n\\n<script>\\n/**\\n * Pixel Office Engine \\u2014 Minimal canvas renderer for agent visualization\\n * Inspired by pixel-agents (MIT). Renders characters in an isometric office.\\n *\\n * API:\\n *   const office = new PixelOffice(canvas, sprites)\\n *   office.setAgents([{id, name, status, tool}])  // update from webhook\\n *   office.start()  // begin render loop\\n */\\n\\nconst TILE = 16;\\nconst ZOOM = 2;\\nconst T = TILE * ZOOM;\\nconst FPS = 20;\\nconst WALK_SPEED = 1.5; // tiles per second\\nconst WANDER_MIN = 3, WANDER_MAX = 8; // seconds between wanders\\nconst DESK_SPACING_X = 3; // tiles between desks horizontally\\nconst DESK_SPACING_Y = 3; // tiles between desk rows\\nconst DESKS_PER_ROW = 6; // desks per row\\n\\nconst STATES = { IDLE: 0, WALK: 1, TYPE: 2, SLEEP: 3, ERROR: 4 };\\nconst DIRECTIONS = { DOWN: 0, UP: 1, RIGHT: 2 };\\n\\n// Character sprite layout: 7 columns x 3 rows (DOWN/UP/RIGHT)\\n// Col 0-3: walk frames, Col 4-5: type frames, Col 6: idle\\nconst FRAME_W = 16, FRAME_H = 16;\\nconst WALK_FRAMES = [0,1,2,3], TYPE_FRAMES = [4,5], IDLE_FRAME = 6;\\n\\nclass PixelOffice {\\n  constructor(canvas, sprites) {\\n    this.canvas = canvas;\\n    this.ctx = canvas.getContext('2d');\\n    this.sprites = sprites; // {characters, floors, furniture}\\n    this.characters = [];\\n    this.gridW = 20;\\n    this.gridH = 14;\\n    this.running = false;\\n    this.lastTime = 0;\\n\\n    // Pre-render sprite canvases from hex grids\\n    this.spriteCache = new Map();\\n\\n    canvas.width = this.gridW * T;\\n    canvas.height = this.gridH * T;\\n    canvas.style.imageRendering = 'pixelated';\\n  }\\n\\n  // Convert hex color grid to canvas\\n  renderSprite(pixels, ox, oy, w, h) {\\n    const key = `${ox},${oy},${w},${h}`;\\n    if (this.spriteCache.has(key + JSON.stringify(pixels).substring(0,20))) {\\n      return this.spriteCache.get(key + JSON.stringify(pixels).substring(0,20));\\n    }\\n    const c = document.createElement('canvas');\\n    c.width = w * ZOOM;\\n    c.height = h * ZOOM;\\n    const x = c.getContext('2d');\\n    for (let r = oy; r < oy + h && r < pixels.length; r++) {\\n      for (let col = ox; col < ox + w && col < pixels[r].length; col++) {\\n        if (pixels[r][col]) {\\n          x.fillStyle = pixels[r][col];\\n          x.fillRect((col - ox) * ZOOM, (r - oy) * ZOOM, ZOOM, ZOOM);\\n        }\\n      }\\n    }\\n    return c;\\n  }\\n\\n  // Get character sprite frame\\n  getCharFrame(charIdx, state, dir, frame) {\\n    const sp = this.sprites.characters[charIdx % this.sprites.characters.length];\\n    if (!sp) return null;\\n    const row = dir * FRAME_H;\\n    let col;\\n    if (state === STATES.TYPE) col = TYPE_FRAMES[frame % 2] * FRAME_W;\\n    else if (state === STATES.WALK) col = WALK_FRAMES[frame % 4] * FRAME_W;\\n    else col = IDLE_FRAME * FRAME_W;\\n    return this.renderSprite(sp.pixels, col, row, FRAME_W, FRAME_H);\\n  }\\n\\n  setAgents(agents) {\\n    // Map agent data to characters\\n    const existing = new Map(this.characters.map(c => [c.id, c]));\\n\\n    this.characters = agents.map((a, i) => {\\n      const prev = existing.get(a.id || a.name);\\n      const status = a.status || 'idle';\\n      const state = status === 'working' ? STATES.TYPE\\n                  : status === 'error' ? STATES.ERROR\\n                  : status === 'sleeping' ? STATES.SLEEP\\n                  : STATES.IDLE;\\n\\n      if (prev) {\\n        // Update existing\\n        const wasState = prev.targetState;\\n        prev.targetState = state;\\n        prev.tool = a.tool || '';\\n        prev.name = a.name;\\n        if (wasState !== state && state === STATES.TYPE && prev.state === STATES.IDLE) {\\n          // Walk to desk then type\\n          prev.state = STATES.WALK;\\n          prev.targetX = prev.deskX;\\n          prev.targetY = prev.deskY;\\n        }\\n        return prev;\\n      }\\n\\n      // New character \\u2014 assign desk position (grid layout)\\n      const col = i % DESKS_PER_ROW;\\n      const row = Math.floor(i / DESKS_PER_ROW);\\n      const deskX = 1 + col * DESK_SPACING_X;\\n      const deskY = 2 + row * DESK_SPACING_Y;\\n      return {\\n        id: a.id || a.name,\\n        name: a.name,\\n        palette: i % 6,\\n        x: deskX, y: deskY + 1, // start below desk\\n        deskX: deskX, deskY: deskY + 1,\\n        state: state === STATES.TYPE ? STATES.TYPE : STATES.IDLE,\\n        targetState: state,\\n        dir: DIRECTIONS.DOWN,\\n        frame: 0,\\n        frameTimer: 0,\\n        wanderTimer: WANDER_MIN + Math.random() * (WANDER_MAX - WANDER_MIN),\\n        tool: a.tool || '',\\n        targetX: deskX, targetY: deskY + 1,\\n      };\\n    });\\n  }\\n\\n  update(dt) {\\n    for (const ch of this.characters) {\\n      ch.frameTimer += dt;\\n\\n      if (ch.state === STATES.WALK) {\\n        // Move toward target\\n        const dx = ch.targetX - ch.x;\\n        const dy = ch.targetY - ch.y;\\n        const dist = Math.sqrt(dx*dx + dy*dy);\\n        if (dist < 0.1) {\\n          ch.x = ch.targetX;\\n          ch.y = ch.targetY;\\n          ch.state = ch.targetState;\\n          ch.frame = 0;\\n        } else {\\n          const speed = WALK_SPEED * dt;\\n          ch.x += (dx / dist) * Math.min(speed, dist);\\n          ch.y += (dy / dist) * Math.min(speed, dist);\\n          ch.dir = Math.abs(dx) > Math.abs(dy)\\n            ? DIRECTIONS.RIGHT\\n            : (dy > 0 ? DIRECTIONS.DOWN : DIRECTIONS.UP);\\n          if (ch.frameTimer > 0.15) { ch.frame = (ch.frame + 1) % 4; ch.frameTimer = 0; }\\n        }\\n      } else if (ch.state === STATES.TYPE) {\\n        if (ch.frameTimer > 0.3) { ch.frame = (ch.frame + 1) % 2; ch.frameTimer = 0; }\\n        ch.dir = DIRECTIONS.UP; // face desk\\n      } else if (ch.state === STATES.IDLE) {\\n        ch.wanderTimer -= dt;\\n        if (ch.wanderTimer <= 0) {\\n          // Random wander\\n          ch.targetX = 1 + Math.floor(Math.random() * (this.gridW - 2));\\n          ch.targetY = 1 + Math.floor(Math.random() * (this.gridH - 2));\\n          ch.state = STATES.WALK;\\n          ch.wanderTimer = WANDER_MIN + Math.random() * (WANDER_MAX - WANDER_MIN);\\n        }\\n        // If should be typing, walk to desk\\n        if (ch.targetState === STATES.TYPE) {\\n          ch.state = STATES.WALK;\\n          ch.targetX = ch.deskX;\\n          ch.targetY = ch.deskY;\\n        }\\n      } else if (ch.state === STATES.SLEEP) {\\n        // Occasional zzz frame\\n        if (ch.frameTimer > 1) { ch.frame = (ch.frame + 1) % 2; ch.frameTimer = 0; }\\n      }\\n    }\\n  }\\n\\n  render() {\\n    const ctx = this.ctx;\\n    ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);\\n\\n    // Floor\\n    const floor = this.sprites.floors[0];\\n    if (floor) {\\n      for (let y = 0; y < this.gridH; y++) {\\n        for (let x = 0; x < this.gridW; x++) {\\n          const tile = this.renderSprite(floor.pixels, 0, 0, TILE, TILE);\\n          ctx.drawImage(tile, x * T, y * T);\\n        }\\n      }\\n    } else {\\n      ctx.fillStyle = '#2a2a3e';\\n      ctx.fillRect(0, 0, this.canvas.width, this.canvas.height);\\n    }\\n\\n    // Desks (one per character)\\n    const desk = this.sprites.furniture?.DESK?.DESK_FRONT;\\n    for (const ch of this.characters) {\\n      if (desk) {\\n        const dTile = this.renderSprite(desk.pixels, 0, 0, desk.width, desk.height);\\n        ctx.drawImage(dTile, ch.deskX * T, (ch.deskY - 1) * T);\\n      } else {\\n        ctx.fillStyle = '#4a3a2a';\\n        ctx.fillRect(ch.deskX * T + 4, (ch.deskY - 1) * T + T/2, T - 8, T/2);\\n      }\\n    }\\n\\n    // Characters (z-sorted by Y)\\n    const sorted = [...this.characters].sort((a, b) => a.y - b.y);\\n    for (const ch of sorted) {\\n      const sprite = this.getCharFrame(ch.palette, ch.state, ch.dir, ch.frame);\\n      if (sprite) {\\n        ctx.drawImage(sprite, Math.round(ch.x * T), Math.round(ch.y * T) - T/2);\\n      } else {\\n        // Fallback colored square\\n        const colors = ['#e74c3c','#3498db','#2ecc71','#f39c12','#9b59b6','#1abc9c'];\\n        ctx.fillStyle = colors[ch.palette % colors.length];\\n        ctx.fillRect(Math.round(ch.x * T) + T/4, Math.round(ch.y * T), T/2, T/2);\\n      }\\n\\n      // Name label\\n      ctx.font = `${Math.round(8 * ZOOM/2)}px monospace`;\\n      ctx.textAlign = 'center';\\n      ctx.fillStyle = '#aaa';\\n      const shortName = ch.name.length > 8 ? ch.name.substring(0, 7) + '.' : ch.name;\\n      ctx.fillText(shortName, Math.round(ch.x * T) + T/2, Math.round(ch.y * T) + T + 8);\\n\\n      // Status bubble\\n      if (ch.state === STATES.TYPE && ch.tool) {\\n        this.drawBubble(ctx, ch.x * T + T/2, ch.y * T - T/2, ch.tool);\\n      } else if (ch.state === STATES.SLEEP) {\\n        this.drawBubble(ctx, ch.x * T + T/2, ch.y * T - T/2, 'zzz');\\n      } else if (ch.state === STATES.ERROR) {\\n        this.drawBubble(ctx, ch.x * T + T/2, ch.y * T - T/2, '!', '#ef4444');\\n      }\\n    }\\n  }\\n\\n  drawBubble(ctx, x, y, text, bg) {\\n    const w = ctx.measureText(text).width + 8;\\n    const h = 14;\\n    ctx.fillStyle = bg || '#1e1e35';\\n    ctx.strokeStyle = '#555';\\n    ctx.lineWidth = 1;\\n    ctx.beginPath();\\n    ctx.roundRect(x - w/2, y - h - 2, w, h, 3);\\n    ctx.fill();\\n    ctx.stroke();\\n    ctx.fillStyle = bg ? '#fff' : '#aaa';\\n    ctx.font = '10px monospace';\\n    ctx.textAlign = 'center';\\n    ctx.fillText(text, x, y - 4);\\n  }\\n\\n  start() {\\n    if (this.running) return;\\n    this.running = true;\\n    this.lastTime = performance.now();\\n    const loop = (now) => {\\n      if (!this.running) return;\\n      const dt = Math.min((now - this.lastTime) / 1000, 0.1);\\n      this.lastTime = now;\\n      this.update(dt);\\n      this.render();\\n      requestAnimationFrame(loop);\\n    };\\n    requestAnimationFrame(loop);\\n  }\\n\\n  stop() { this.running = false; }\\n}\\n\\n\\n// --- Dashboard Controller ---\\nlet office = null;\\nlet projects = [];\\n\\nasync function loadSprites() {\\n  try {\\n    const r = await fetch('/webhook/sprites', {method:'POST',headers:{'Content-Type':'application/json'},body:'{}'});\\n    return await r.json();\\n  } catch { return {characters:[], floors:[], furniture:{}}; }\\n}\\n\\nasync function loadAgentState() {\\n  try {\\n    const r = await fetch('/webhook/agent-state', {method:'POST',headers:{'Content-Type':'application/json'},body:'{}'});\\n    const d = await r.json();\\n    if (d.agents) {\\n      projects = d.agents;\\n      if (office) office.setAgents(d.agents);\\n      renderStats(d.agents);\\n      renderProjects(d.agents);\\n      renderProjectDropdown(d.agents);\\n      document.getElementById('timestamp').textContent = new Date().toLocaleString();\\n    }\\n  } catch(e) { console.error('agent-state:', e); }\\n}\\n\\nasync function loadFeed() {\\n  try {\\n    const r = await fetch('/webhook/feed', {method:'POST',headers:{'Content-Type':'application/json'},body:'{}'});\\n    const d = await r.json();\\n    const el = document.getElementById('feed');\\n    if (d.feed && d.feed.length) {\\n      el.innerHTML = d.feed.map(e =>\\n        '<div class=\\\"entry\\\"><span class=\\\"time\\\">' + new Date(e.time).toLocaleTimeString() + '</span>' +\\n        '<span class=\\\"type\\\">[' + e.type + ']</span>' +\\n        '<strong>' + (e.project||'') + '</strong> ' + (e.message||'').substring(0,60) + '</div>'\\n      ).join('');\\n    } else {\\n      el.innerHTML = '<div class=\\\"entry\\\">No activity yet</div>';\\n    }\\n  } catch(e) { console.error('feed:', e); }\\n}\\n\\nfunction renderStats(agents) {\\n  const hot = agents.filter(a => a.status === 'working').length;\\n  const idle = agents.filter(a => a.status === 'idle').length;\\n  const sleep = agents.filter(a => a.status === 'sleeping').length;\\n  const dirty = agents.reduce((s,a) => s + (a.uncommitted||0), 0);\\n  document.getElementById('stats').innerHTML =\\n    '<div class=\\\"stat\\\"><div class=\\\"stat-n\\\" style=\\\"color:#22c55e\\\">' + hot + '</div><div class=\\\"stat-l\\\">Working</div></div>' +\\n    '<div class=\\\"stat\\\"><div class=\\\"stat-n\\\" style=\\\"color:#eab308\\\">' + idle + '</div><div class=\\\"stat-l\\\">Idle</div></div>' +\\n    '<div class=\\\"stat\\\"><div class=\\\"stat-n\\\" style=\\\"color:#666\\\">' + sleep + '</div><div class=\\\"stat-l\\\">Sleeping</div></div>' +\\n    '<div class=\\\"stat\\\"><div class=\\\"stat-n\\\">' + agents.length + '</div><div class=\\\"stat-l\\\">Agents</div></div>' +\\n    '<div class=\\\"stat\\\"><div class=\\\"stat-n\\\" style=\\\"color:' + (dirty > 50 ? '#ef4444' : '#eab308') + '\\\">' + dirty + '</div><div class=\\\"stat-l\\\">Uncommitted</div></div>';\\n}\\n\\nfunction renderProjects(agents) {\\n  const colors = {working:'#22c55e',idle:'#eab308',sleeping:'#666',error:'#ef4444'};\\n  document.getElementById('projects').innerHTML = agents.map(a =>\\n    '<div class=\\\"project-card\\\" onclick=\\\"selectProject(\\\\'' + a.name + '\\\\')\\\">' +\\n    '<div class=\\\"name\\\"><span style=\\\"color:' + (colors[a.status]||'#666') + '\\\">\\\\u25CF</span> ' + a.name + '</div>' +\\n    '<div class=\\\"meta\\\">' + a.branch + ' \\\\u2022 ' + (a.uncommitted||0) + ' dirty</div></div>'\\n  ).join('');\\n}\\n\\nfunction renderProjectDropdown(agents) {\\n  const sel = document.getElementById('chat-project');\\n  const current = sel.value;\\n  sel.innerHTML = '<option value=\\\"\\\">PA Orchestrator</option>' +\\n    agents.map(a => '<option value=\\\"' + a.name + '\\\">' + a.name + '</option>').join('');\\n  sel.value = current;\\n}\\n\\nfunction selectProject(name) {\\n  document.getElementById('chat-project').value = name;\\n  document.getElementById('chat-input').focus();\\n}\\n\\nasync function sendChat() {\\n  const input = document.getElementById('chat-input');\\n  const msg = input.value.trim();\\n  if (!msg) return;\\n\\n  const project = document.getElementById('chat-project').value;\\n  const messages = document.getElementById('messages');\\n\\n  // Add user message\\n  messages.innerHTML += '<div class=\\\"msg user\\\">' + msg + (project ? ' <small>\\\\u2192 ' + project + '</small>' : '') + '</div>';\\n  input.value = '';\\n  document.getElementById('chat-send').disabled = true;\\n  messages.scrollTop = messages.scrollHeight;\\n\\n  // Add loading\\n  messages.innerHTML += '<div class=\\\"msg bot\\\" id=\\\"loading\\\">Thinking...</div>';\\n  messages.scrollTop = messages.scrollHeight;\\n\\n  try {\\n    const r = await fetch('/webhook/chat', {\\n      method: 'POST',\\n      headers: {'Content-Type': 'application/json'},\\n      body: JSON.stringify({message: msg, project: project})\\n    });\\n    const d = await r.json();\\n    const loading = document.getElementById('loading');\\n    if (loading) loading.remove();\\n\\n    if (d.status === 'complete') {\\n      messages.innerHTML += '<div class=\\\"msg bot\\\"><pre>' + (d.response||'').substring(0, 3000) + '</pre></div>';\\n    } else {\\n      messages.innerHTML += '<div class=\\\"msg bot\\\" style=\\\"color:#ef4444\\\">Error: ' + (d.error||'unknown') + '</div>';\\n    }\\n  } catch(e) {\\n    const loading = document.getElementById('loading');\\n    if (loading) loading.remove();\\n    messages.innerHTML += '<div class=\\\"msg bot\\\" style=\\\"color:#ef4444\\\">Failed: ' + e.message + '</div>';\\n  }\\n\\n  document.getElementById('chat-send').disabled = false;\\n  messages.scrollTop = messages.scrollHeight;\\n  loadAgentState(); // refresh after action\\n  loadFeed();\\n}\\n\\n// --- Init ---\\nasync function init() {\\n  const sprites = await loadSprites();\\n  const canvas = document.getElementById('office');\\n  office = new PixelOffice(canvas, sprites);\\n  office.start();\\n\\n  await loadAgentState();\\n  await loadFeed();\\n\\n  // Polling\\n  setInterval(loadAgentState, 30000);\\n  setInterval(loadFeed, 15000);\\n}\\n\\ninit();\\n</script>\\n</body></html>\"}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "name": "Serve HTML"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        300
      ],
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Serve HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serve HTML": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}