n8n/workflows/dashboard.json
{
  "name": "Dashboard",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "return [{json: {html: \"<!DOCTYPE html>\\n<html><head><meta charset=\\\"utf-8\\\"><title>Agent Command Center</title>\\n<style>\\n*{box-sizing:border-box;margin:0;padding:0}\\nbody{background:#0a0a15;color:#d0d0e0;font-family:-apple-system,system-ui,sans-serif;overflow-x:hidden}\\n.app{display:grid;grid-template-columns:1fr 340px;grid-template-rows:auto 1fr auto;height:100vh}\\n.hdr{grid-column:1/-1;padding:10px 20px;background:#0f0f1a;border-bottom:1px solid #1a1a30;display:flex;justify-content:space-between;align-items:center}\\n.hdr h1{font-size:1.2em;color:#fff}\\n.hdr .t{color:#555;font-size:.8em}\\n.main{padding:15px;overflow-y:auto;display:flex;flex-direction:column;gap:12px}\\n.stats{display:grid;grid-template-columns:repeat(5,1fr);gap:8px}\\n.st{background:#12122a;border:1px solid #1e1e3a;padding:10px;border-radius:8px;text-align:center}\\n.st .n{font-size:1.6em;font-weight:700;line-height:1.1}\\n.st .l{color:#555;font-size:.7em;margin-top:2px}\\nh2{font-size:.9em;color:#888;margin:5px 0}\\n.grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(220px,1fr));gap:8px}\\n.card{background:#12122a;border:1px solid #1e1e3a;border-radius:8px;padding:10px 12px;cursor:pointer;transition:all .2s;position:relative;overflow:hidden}\\n.card:hover{border-color:#3a3a6a;transform:translateY(-1px)}\\n.card .top{display:flex;justify-content:space-between;align-items:center}\\n.card .name{font-weight:600;font-size:.85em;color:#fff;display:flex;align-items:center;gap:6px}\\n.card .dot{width:8px;height:8px;border-radius:50%;display:inline-block;animation:pulse 2s infinite}\\n.card .dot.working{background:#22c55e}\\n.card .dot.idle{background:#eab308;animation:none}\\n.card .dot.sleeping{background:#555;animation:none}\\n.card .dot.error{background:#ef4444}\\n.card .branch{font-size:.7em;color:#666;font-family:monospace}\\n.card .meta{display:flex;gap:12px;margin-top:6px;font-size:.7em;color:#555}\\n.card .meta span{display:flex;align-items:center;gap:3px}\\n.card .bar{position:absolute;bottom:0;left:0;height:2px;background:#22c55e;transition:width .5s}\\n.card .modules{display:none;margin-top:8px;border-top:1px solid #1e1e3a;padding-top:6px}\\n.card.expanded .modules{display:block}\\n.mod{display:flex;justify-content:space-between;font-size:.7em;padding:2px 0;color:#888}\\n.mod .ok{color:#22c55e}\\n.mod .warn{color:#eab308}\\n.mod .err{color:#ef4444}\\n@keyframes pulse{0%,100%{opacity:1}50%{opacity:.5}}\\n.chat{display:flex;flex-direction:column;background:#0d0d1a;border-left:1px solid #1a1a30}\\n.chat .hd{padding:8px 12px;border-bottom:1px solid #1a1a30;display:flex;align-items:center;gap:6px;font-size:.85em}\\n.chat select{background:#12122a;color:#d0d0e0;border:1px solid #2a2a4a;padding:4px 8px;border-radius:4px;font-size:.8em;flex:1}\\n.msgs{flex:1;overflow-y:auto;padding:10px;display:flex;flex-direction:column;gap:6px}\\n.m{max-width:90%;padding:7px 10px;border-radius:8px;font-size:.8em;line-height:1.3;word-wrap:break-word}\\n.m.u{align-self:flex-end;background:#1e3a5f;color:#d0e0ff}\\n.m.b{align-self:flex-start;background:#1a1a30;color:#c0c0d0}\\n.m pre{white-space:pre-wrap;font-size:.75em;margin-top:3px;color:#8899aa}\\n.inp{display:flex;gap:5px;padding:8px 10px;border-top:1px solid #1a1a30}\\n.inp input{flex:1;background:#12122a;color:#d0d0e0;border:1px solid #2a2a4a;padding:7px 10px;border-radius:5px;font-size:.8em;outline:none}\\n.inp input:focus{border-color:#3a5a8a}\\n.inp button{background:#1e3a5f;color:#d0e0ff;border:none;padding:7px 14px;border-radius:5px;cursor:pointer;font-size:.8em}\\n.inp button:hover{background:#2a4a7f}\\n.inp button:disabled{opacity:.4}\\n.feed{grid-column:1/-1;border-top:1px solid #1a1a30;padding:6px 15px;max-height:120px;overflow-y:auto;font-size:.7em;color:#555}\\n.feed .e{padding:2px 0;border-bottom:1px solid #0f0f1a}\\n.feed .tm{color:#444;margin-right:6px}\\n.feed .tp{color:#3a6a9a;margin-right:4px}\\n.btns{display:flex;gap:6px;flex-wrap:wrap}\\n.btns button{background:#161630;color:#8888aa;border:1px solid #252545;padding:5px 10px;border-radius:5px;cursor:pointer;font-size:.75em}\\n.btns button:hover{background:#1e1e40;color:#aaa}\\n</style></head>\\n<body>\\n<div class=\\\"app\\\">\\n  <div class=\\\"hdr\\\">\\n    <h1>Agent Command Center</h1>\\n    <span class=\\\"t\\\" id=\\\"ts\\\">loading...</span>\\n  </div>\\n  <div class=\\\"main\\\">\\n    <div class=\\\"stats\\\" id=\\\"stats\\\"></div>\\n    <div class=\\\"btns\\\">\\n      <button onclick=\\\"act('health')\\\">Health Check</button>\\n      <button onclick=\\\"act('scan')\\\">Rescan</button>\\n      <button onclick=\\\"act('dep-check')\\\">Dependencies</button>\\n      <button onclick=\\\"act('weekly')\\\">Weekly</button>\\n      <button onclick=\\\"location.reload()\\\">Refresh</button>\\n    </div>\\n    <h2>Projects</h2>\\n    <div class=\\\"grid\\\" id=\\\"grid\\\"></div>\\n  </div>\\n  <div class=\\\"chat\\\">\\n    <div class=\\\"hd\\\">Chat <select id=\\\"cp\\\"><option value=\\\"\\\">PA</option></select></div>\\n    <div class=\\\"msgs\\\" id=\\\"msgs\\\"></div>\\n    <div class=\\\"inp\\\">\\n      <input id=\\\"ci\\\" placeholder=\\\"Task...\\\" onkeydown=\\\"if(event.key==='Enter')send()\\\">\\n      <button id=\\\"cb\\\" onclick=\\\"send()\\\">Send</button>\\n    </div>\\n  </div>\\n  <div class=\\\"feed\\\" id=\\\"feed\\\">No activity yet</div>\\n</div>\\n<script>\\nconst API=''; // proxy handles routing to n8n\\nlet projects=[];\\nconst C={working:'#22c55e',idle:'#eab308',sleeping:'#555',error:'#ef4444'};\\n\\nasync function load(){\\n  try{\\n    const r=await fetch(API+'/webhook/agent-state',{method:'POST',headers:{'Content-Type':'application/json'},body:'{}'});\\n    const d=await r.json();\\n    if(d.agents){projects=d.agents;render(d.agents);document.getElementById('ts').textContent=new Date().toLocaleString();}\\n  }catch(e){console.error(e);}\\n}\\n\\nfunction render(a){\\n  const hot=a.filter(x=>x.status==='working').length;\\n  const idle=a.filter(x=>x.status==='idle').length;\\n  const slp=a.filter(x=>x.status==='sleeping').length;\\n  const dirty=a.reduce((s,x)=>s+(x.uncommitted||0),0);\\n  document.getElementById('stats').innerHTML=\\n    `<div class=\\\"st\\\"><div class=\\\"n\\\" style=\\\"color:#22c55e\\\">${hot}</div><div class=\\\"l\\\">Working</div></div>`+\\n    `<div class=\\\"st\\\"><div class=\\\"n\\\" style=\\\"color:#eab308\\\">${idle}</div><div class=\\\"l\\\">Idle</div></div>`+\\n    `<div class=\\\"st\\\"><div class=\\\"n\\\" style=\\\"color:#555\\\">${slp}</div><div class=\\\"l\\\">Sleeping</div></div>`+\\n    `<div class=\\\"st\\\"><div class=\\\"n\\\">${a.length}</div><div class=\\\"l\\\">Agents</div></div>`+\\n    `<div class=\\\"st\\\"><div class=\\\"n\\\" style=\\\"color:${dirty>50?'#ef4444':'#eab308'}\\\">${dirty}</div><div class=\\\"l\\\">Dirty</div></div>`;\\n\\n  document.getElementById('grid').innerHTML=a.map(p=>{\\n    const pct=Math.min(100,Math.max(5,(7-p.days)/7*100));\\n    return `<div class=\\\"card\\\" onclick=\\\"toggle(this,'${p.name}')\\\">\\n      <div class=\\\"top\\\"><span class=\\\"name\\\"><span class=\\\"dot ${p.status}\\\"></span>${p.name}</span><span class=\\\"branch\\\">${(p.branch||'').substring(0,20)}</span></div>\\n      <div class=\\\"meta\\\"><span>${p.uncommitted||0} dirty</span><span>${p.last_commit||''}</span><span>${p.days||0}d ago</span></div>\\n      <div class=\\\"bar\\\" style=\\\"width:${pct}%;background:${C[p.status]||'#555'}\\\"></div>\\n      <div class=\\\"modules\\\" id=\\\"mod-${p.name}\\\">Loading...</div>\\n    </div>`;\\n  }).join('');\\n\\n  const sel=document.getElementById('cp');\\n  const cur=sel.value;\\n  sel.innerHTML='<option value=\\\"\\\">PA</option>'+a.map(p=>`<option value=\\\"${p.name}\\\">${p.name}</option>`).join('');\\n  sel.value=cur;\\n}\\n\\nasync function toggle(el,name){\\n  el.classList.toggle('expanded');\\n  if(el.classList.contains('expanded')){\\n    const m=document.getElementById('mod-'+name);\\n    try{\\n      const r=await fetch(API+'/webhook/module-status',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify({project:name})});\\n      const d=await r.json();\\n      if(d.modules&&d.modules.length){\\n        m.innerHTML=d.modules.map(x=>`<div class=\\\"mod\\\"><span>${x.name}</span><span class=\\\"${x.status}\\\">${x.status} (${x.files}f/${x.lines}L)</span></div>`).join('');\\n      }else{m.innerHTML='<div class=\\\"mod\\\">No modules detected</div>';}\\n    }catch{m.innerHTML='<div class=\\\"mod err\\\">Failed to load</div>';}\\n  }\\n}\\n\\nasync function loadFeed(){\\n  try{\\n    const r=await fetch(API+'/webhook/feed',{method:'POST',headers:{'Content-Type':'application/json'},body:'{}'});\\n    const d=await r.json();\\n    const el=document.getElementById('feed');\\n    if(d.feed&&d.feed.length){\\n      el.innerHTML=d.feed.map(e=>`<div class=\\\"e\\\"><span class=\\\"tm\\\">${new Date(e.time).toLocaleTimeString()}</span><span class=\\\"tp\\\">[${e.type}]</span><b>${e.project||''}</b> ${(e.message||'').substring(0,50)}</div>`).join('');\\n    }\\n  }catch{}\\n}\\n\\nasync function send(){\\n  const inp=document.getElementById('ci');\\n  const msg=inp.value.trim();if(!msg)return;\\n  const proj=document.getElementById('cp').value;\\n  const msgs=document.getElementById('msgs');\\n  msgs.innerHTML+=`<div class=\\\"m u\\\">${msg}${proj?' <small>&rarr; '+proj+'</small>':''}</div>`;\\n  inp.value='';document.getElementById('cb').disabled=true;\\n  msgs.innerHTML+='<div class=\\\"m b\\\" id=\\\"ld\\\">Thinking...</div>';\\n  msgs.scrollTop=msgs.scrollHeight;\\n  try{\\n    const r=await fetch(API+'/webhook/chat',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify({message:msg,project:proj})});\\n    const d=await r.json();\\n    const ld=document.getElementById('ld');if(ld)ld.remove();\\n    if(d.status==='complete'){msgs.innerHTML+=`<div class=\\\"m b\\\"><pre>${(d.response||'').substring(0,2000)}</pre></div>`;}\\n    else{msgs.innerHTML+=`<div class=\\\"m b\\\" style=\\\"color:#ef4444\\\">Error: ${d.error||'unknown'}</div>`;}\\n  }catch(e){\\n    const ld=document.getElementById('ld');if(ld)ld.remove();\\n    msgs.innerHTML+=`<div class=\\\"m b\\\" style=\\\"color:#ef4444\\\">${e.message}</div>`;\\n  }\\n  document.getElementById('cb').disabled=false;\\n  msgs.scrollTop=msgs.scrollHeight;\\n  load();loadFeed();\\n}\\n\\nasync function act(name){\\n  try{\\n    const r=await fetch(API+'/webhook/'+name,{method:'POST',headers:{'Content-Type':'application/json'},body:'{}'});\\n    const d=await r.json();\\n    alert(name+': '+(d.status==='complete'?'OK':(d.error||d.message||'done')));\\n    load();\\n  }catch(e){alert(name+' failed: '+e.message);}\\n}\\n\\nload();loadFeed();\\nsetInterval(load,30000);\\nsetInterval(loadFeed,15000);\\n</script>\\n</body></html>\"}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "name": "Serve"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        300
      ],
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Serve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serve": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}